body {
    font-family: 'Yantramanov', sans-serif;
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: Yantramanov;
    src: url("https://fonts.googleapis.com/css2?family=Yantramanov:100,200,300,400,500,600,700");

}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cover img {
    width: 100%
    height: 100%
    object-fit: cover;
    overflow: hidden;
}

/* alert */
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;

}
/* navbar */
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color:transparent;
}

.navbar-container {
    background-color: #9c047b;
}
.navbar {

    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar .navbar-nav a {
    font-weight: bold;

}

/* header */
.header-container {

}


/* call-to-action */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

}
.cta-container {
height: 100vh;
    /* copied full-width image code from css-tricks.com */
  background: url("../images/gra0227.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    /* flexbox properties below to center contents vertically and horizontally on screen*/
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

/* video-navbar */
.video-navbar-container {
background-color: #9c047b;
    /* flexbox properties below to center contents vertically and horizontally on screen*/
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.dropdown {
padding-left: 0px;
padding-top: 40px;
padding-bottom: 40px;
}
/* testimonials */
.testimonials{
padding-left: 0;
padding-right: 0;
background-color:#9c047b;
}


.testimonials-container {

background-color:#6b531f;
}

.carousel {
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 20px;
}

/* footer */
.footer-container {}

/* jumbotron */

.jumbotron {
    background-color: transparent;
}
.jumbotron .lead {
    color: #BFD9D7;
    text-align: center;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}


/* buttons */

/* using method from code institute training called 'block element modifier' for writing structuring my css code */

,btn-cta {
    font-weigtht: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-gold {
    color: white;
    background-color: #AE9152;
    border-color: #AE9152;
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus,
.btn-gold:active:focus {
    background-color: #BFD9D7;
    border-color: #BFD9D7;
}

/* about section */

.about {
    padding-left: 200px;
    padding-top: 200px;
}

.about-text {
    -webkit-text-fill-color: #BFD9D7;
}