body {
    margin: 0;
    padding: 0;
   
}

@font-face {
    font-family: Yantramanov;
    src: url("https://fonts.googleapis.com/css2?family=Yantramanov:100,200,300,400,500,600,700");

}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cover img {
    width: 100%
    height: 100%
    object-fit: cover;
    overflow: hidden;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.testimonials{
    background-color: black;
}