body {
    font-family: 'Yantramanov', sans-serif;
    margin: 0;
    padding: 0;  
}

@font-face {
    font-family: Yantramanov;
    src: url("https://fonts.googleapis.com/css2?family=Yantramanov:100,200,300,400,500,600,700");
}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------Special margins/paddings/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Yantramanov", sans-serif;
    font-weight: 300;
    color: #F9F9F2;
}

.inline-block {
    display: inline-block;
}

/* -------------------------------------------------------------------------------Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;                                  
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color:transparent;
}

/* -------------------------------------------------------------------------------Navbar */

.navbar-container {
    background-color: #116466;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand {
    height: auto;
    width: auto;
    max-height: 174.84px;
    max-width: 300px;
}

/* -------------------------------------------------------------------------------Call-To-Action */

/* .opaque-overlay {
    position: relative;   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5); */

    /* copied full-width image code from css-tricks.com */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 250px;
} */

.cta-container {
    height: 100vh;
   
    /* copied full-width image code from css-tricks.com */
    background: url("../images/gra0227.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200 600px;
}

/* -------------------------------------------------------------------------------Video Carousel Navbar */

.portfolio.container {
    background: #116466;
}

.carousel {
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 20px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.card-body {
    background-color: #AE9152;
    border-color: #AE9152;
    color:#F9F9F2;
}

.card-title {
    text-emphasis-color: #F9F9F2;
}

/* -------------------------------------------------------------------------------Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: #BFD9D7;
    text-align: center;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.container{
    margin-top: 200px;
}

/* -------------------------------------------------------------------------------Buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-gold {
    color: white;
    background-color: #AE9152;
    border-color: #AE9152;
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus,
.btn-gold:active:focus {
    background-color: #BFD9D7;
    border-color: #BFD9D7;
}

/* -------------------------------------------------------------------------------About */

.about-container {
    padding-top: 0px;
    background-color: #15110a;
}

.about {
    padding-left: 200px;
    padding-top: 100px;
}

.about-text {
    -webkit-text-fill-color: #BFD9D7;
}

.about-image {
    width: 1008;
    height: 756px;
    padding-left: 200px;
    padding-top: 200px;
}

.about-call-to-action {
    padding-top: 100px;
}

.tech-skills {
    padding-top: 100px;
    padding-left: 210px;
    padding-bottom: 100px;
    color: #F9F9F2;   
}

.fa-adobe {
    padding-right: 9px;
}

.fa-github {
    padding-right: 9px;
    padding-left: 9px;  
}

.fa-html5 {
    padding-right: 9px;
    padding-left: 9px;  
}

.fa-css3 {
    padding-right: 9px;
    padding-left: 9px;  
}

.fa-bootstrap {
    padding-right: 9px;
    padding-left: 9px;  
}

/* -------------------------------------------------------------------------------Contact */

.form-container {
    /* copied full-width image code from css-tricks.com */
    background: url("../images/surfer.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200 175px;
}

/* -------------------------------------------------------------------------------Mailto Form */

.jumbotron .form {
    color: #BFD9D7;
    text-align: center;
} 

.jumbotron .input-text {
    color:#F9F9F2;
}

/* -------------------------------------------------------------------------------Footer */

footer {
    background-color: #2C3531;
    color: #F9F9F2;  
    min-height: 120px;
    margin:0;
}

.cv-pdf i {
    font-size: 18px;
    color: #F9F9F2; 
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color:#AE9152;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #F9F9F2;
    background: #116466;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #AE9152;
}

#footer-details {
    padding: 20px;
}

.copyright {
    color: #F9F9F2  
}

