body {
    font-family: 'Yantramanov', sans-serif;
    margin: 0;
    padding: 0;  
}

@font-face {
    font-family: Yantramanov;
    src: url("https://fonts.googleapis.com/css2?family=Yantramanov:100,200,300,400,500,600,700");
}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------Special margins/paddings/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Yantramanov", sans-serif;
    font-weight: 300;
    color: #F9F9F2;
}

.inline-block {
    display: inline-block;
}

/* -------------------------------------------------------------------------------Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;                                  
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color:transparent;
}

/* -------------------------------------------------------------------------------Navbar */

.navbar-container {
    background-color: #116466;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand {
    height: auto;
    width: auto;
    max-height: 174.84px;
    max-width: 300px;
}

/* -------------------------------------------------------------------------------Call-To-Action */

/* .opaque-overlay {
    position: relative;   
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5); */

    /* copied full-width image code from css-tricks.com */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 250px;
} */

.cta-container {
    height: 100vh;
   
    /* copied full-width image code from css-tricks.com */
    background: url("../images/gra0227.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200 600px;
}

/* -------------------------------------------------------------------------------Video Carousel Navbar */

.portfolio.container {
    background: #116466;
}

.carousel {
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 20px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.card-body {
    background-color: #AE9152;
    border-color: #AE9152;
    color:#F9F9F2;
}

.card-title {
    text-emphasis-color: #F9F9F2;
    font-size: 20px;
}

/* -------------------------------------------------------------------------------Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: #BFD9D7;
    text-align: center;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.container{
    margin-top: 200px;
}

/* -------------------------------------------------------------------------------Buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn-gold {
    color: white;
    background-color: #AE9152;
    border-color: #AE9152;
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus,
.btn-gold:active:focus {
    background-color: #BFD9D7;
    border-color: #BFD9D7;
}

/* -------------------------------------------------------------------------------About */

/* .about-container {
    padding-top: 0px;
    background-color: #15110a;
}

.about {
    padding-left: 200px;
    padding-top: 100px;
} */

/* .about-text {
    -webkit-text-fill-color: #BFD9D7;
} */

.bg-color-about-me {
    background-color:#D1E8E2;
}

.about-me-icon {
    font-size: 26px;
    color: #116466;  
}

.about-me-heading {
    margin-bottom: 15px;
}

/* -------------------------------------------------------------------------------About Personal Info*/

.bg-color-personal-info {
    background-color: #99bfb5;
}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key, 
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* -------------------------------------------------------------------------------About table*/

.row-table{
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Yantramanov", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------------------------------------------------------------------------About CTA*/

.about-image {
    width: 1008;
    height: 756px;
    padding-left: 200px;
    padding-top: 200px;
}

.about-call-to-action {
    padding-top: 100px;
}

/* ------------------------------------------------------------------------------Contact */

.form-container {
    /* copied full-width image code from css-tricks.com */
    background: url("../images/surfer.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200 175px;
}

/* -------------------------------------------------------------------------------Mailto Form */

.jumbotron .form {
    color: #BFD9D7;
    text-align: center;
} 

.jumbotron .input-text {
    color:#F9F9F2;
}

/* -------------------------------------------------------------------------------Footer */

footer {
    background-color: #2C3531;
    color: #F9F9F2;  
    min-height: 120px;
    margin:0;
}

.cv-pdf i {
    font-size: 18px;
    color: #F9F9F2; 
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color:#AE9152;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #F9F9F2;
    background: #116466;
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #AE9152;
}

#footer-details {
    padding: 20px;
}

.copyright {
    color: #F9F9F2  
}

/* -------------------------------------------------------------------------------Skills*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #F9F9F2;
    background-color: rgba(25, 25, 25, 0.2);
}

.tech-skills-front-end {
    bottom-margin: 200px;
}

/* -------------------------------------------------------------------------------Work History*/

.bg-color-work-history {
    background-color: #17252A;
}

.history-heading {
    color: #F9F9F2;
    margin-bottom: 50px;
}

.timeline-item {
    color: #F9F9F2;
    padding-top: 4em 2em 0em 2em;
    position: relative;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before h4 {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Yantramanov", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after p {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background: #F9F9F2;
}
