body {
    font-family: 'Yantramanov', sans-serif;
    margin: 0;
    padding: 0;  
}

@font-face {
    font-family: Yantramanov;
    src: url("https://fonts.googleapis.com/css2?family=Yantramanov:100,200,300,400,500,600,700");
}

.media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* -------------------------------------------------------------------------------General*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Yantramanov", sans-serif;
    font-weight: 300;
    color: #F9F9F2;
}

.inline-block {
    display: inline-block;
}

/* -------------------------------------------------------------------------------Alert */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;                                  
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
    background-color:transparent;
}

/* -------------------------------------------------------------------------------Navbar */

.navbar-container {
    background-color: #116466;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}

.navbar .navbar-toggler {
    border:0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.navbar-brand {
    height: auto;
    width: auto;
    max-height: 174.84px;
    max-width: 300px;
}

/* -------------------------------------------------------------------------------Call-To-Action */

.cta-container {
  
    background: url("../images/gra0227.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200px 600px;
    box-sizing: border-box;
}

/* -------------------------------------------------------------------------------Video Carousel Navbar */

.portfolio.container {
    background: #116466;
}

.carousel {
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-top: 20px;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.card-body {
    background-color: #AE9152;
    border-color: #AE9152;
    color:#F9F9F2;
}

.card-title {
    text-emphasis-color: #F9F9F2;
    font-size: 20px;
}

/* -------------------------------------------------------------------------------Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: #BFD9D7;
    text-align: center;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.container{
    margin-top: 200px;
}

/* -------------------------------------------------------------------------------Buttons */

.btn-cta {
    font-weight: bold;
    border-radius: 14px;
    width: 160px;
}

.btn-gold {
    color: white;
    background-color: #AE9152;
    border-color: #AE9152;
}

.btn-gold:hover,
.btn-gold:active,
.btn-gold:focus,
.btn-gold:active:focus {
    background-color: #BFD9D7;
    border-color: #BFD9D7;
}

/* -------------------------------------------------------------------------------About */

.bg-color-about-me {
    background-color:#D1E8E2;
}

.about-me-icon {
    font-size: 26px;
    color: #116466;  
}

.about-me-heading {
    margin-bottom: 15px;
}

.about-me-qa {
    margin-top: 20px;
    padding-top: 45px;
    margin-bottom: 50px;
}

.about-me-heaading {
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 45px;
}

/* -------------------------------------------------------------------------------About Personal Info*/

.bg-color-personal-info {
    background-color: #99bfb5;
}
.about-container {
    margin-bottom: 0;
    border-bottom: 0;

}

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key, 
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
    font-size: 18px;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

.personal-info-all {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}


/* -------------------------------------------------------------------------------About table*/

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading {
    font-family: "Yantramanov", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* -------------------------------------------------------------------------------About CTA*/

.about-image {
    width: 1008px;
    height: 756px;
    padding-left: 200px;
    padding-top: 200px;
}

.about-call-to-action {
    padding-top: 100px;
}

/* ------------------------------------------------------------------------------Contact */

.form-container {
    /* copied full-width image code from css-tricks.com */
    background: url("../images/surfer.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: -200px 175px;
}

/* -------------------------------------------------------------------------------Mailto Form */

form {
    background-color: rgba(41, 51, 49, 0.25);
    border-color: transparent;
}

input [type=submit] {
    padding: 20px;
    font-size: 14px;
    margin: 10px 0; 
}

#email, #name {
    padding: 20px;
    color: #F9F9F2;
    font-size: 30px;
    margin: 10px 0; 
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(27, 173, 161, 0.75);
}

textarea {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(27, 173, 161, 0.75);
    color: #F9F9F2;
}

.input-text { 
  border-style: solid;
  border-width: 1px;
  border-color: #333333; 
}

.send-text-input {
    font-family: "Yantramanov", sans-serif;
    background-color: transparent;
    position: center;
    margin-bottom: 100px;
    margin-top: -100px;
    border-color: transparent;
}

.btn-send {
    font-family: "Yantramanov", sans-serif;
    width: 138px;
    height: 44px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    float:right;
    border: 1px solid #253737;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
    background: -webkit-linear-gradient(top, #6da5a3, #416b68);
    background: -moz-linear-gradient(top, #6da5a3, #416b68);
    background: -o-linear-gradient(top, #6da5a3, #416b68);
    padding: 10.5px 21px;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    color: #e1e1e1;
}

.btn-send:hover {
    border: 1px solid #253737;
    text-shadow: #333333 0 1px 0;
    background: #416b68;
    background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
    background: -webkit-linear-gradient(top, #77b2b0, #416b68);
    background: -moz-linear-gradient(top, #77b2b0, #416b68);
    background: -o-linear-gradient(top, #77b2b0, #416b68);
    color: #fff;
 }

.btn-send:active {
    margin-top:1px;
    text-shadow: #333333 0 -1px 0;
    border: 1px solid #253737;
    background: #6da5a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#416b68), to(#416b68));
    background: -webkit-linear-gradient(top, #416b68, #609391);
    background: -moz-linear-gradient(top, #416b68, #6da5a3);
    background: -o-linear-gradient(top, #416b68, #6da5a3);
    color: #fff;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
   }

/* ------------------------------------------------------------------------------Resume */

/* -------------------------------------------------------------------------------Work History*/

.bg-color-work-history {
    background-color: #17252A;
}

.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}

/* -------------------------------------------------------------------------------Skills*/

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: rgb(45 34 18);
    background-color: rgba(25, 25, 25, 0.2);

}

.progress-section {
    margin: 40px 20px;
}

.bg-progress-one {
    background-color: rgb(71, 240, 192);
}

.bg-progress-two {
    background-color: rgb(253, 242, 114);
}

.bg-progress-three {
    background-color: rgb(199, 178, 102);
}

.bg-progress-four {
    background-color: rgb(133, 131, 128);
}

/* -------------------------------------------------------------------------------Footer */

footer {
    background-color: #2C3531;
    color: #F9F9F2;  
    min-height: 120px;
    margin:0;
}

.cv-pdf i {
    font-size: 18px;
    color: #F9F9F2; 
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color:#AE9152;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #F9F9F2;
    background: #116466;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #AE9152;
}

#footer-details {
    padding: 20px;
}

.copyright {
    color: rgb(139, 139, 139);  
    font-size: 18px;
}



